// Mixins in here
.button {
    display: flex;
    padding: 15px 20px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: @eastern-blue;
    font-size: 2rem;
    color: @sandy-beach;
}