// Navigation Styles here

.header-container {
    max-width: 800px;
    width: 100%;
    border-bottom: 2px dashed silver;
    margin: 0 auto;
    header {
    margin: 15px auto;
    display: flex;
    align-items : baseline;
    justify-content: space-between;
        nav {
            width: 25rem;
            display: flex;
            justify-content: space-around;
            a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            }
        }
    }
}
@media @mobile {
  .header-container header {
    .mobile-flex;
  }
  .header-container h1 {
    margin-bottom: 5px;
  }
  .header-container header nav {
    width: 100%;
  }
}
